
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Hello</h1>
<p>this is the index page. its used as the default page when other values aren't submitted.</p>